$primary: #003366; // Change this to your desired primary color

// Import Bootstrap and its dependencies
@import '~bootstrap/scss/bootstrap';

.base-class{
    border: 1px solid black;
    color: black;
    border-radius: 0.2rem;
    text-align: center;
}

.slim-button {
    padding: 0.15rem 1.0rem;
    font-size: 0.875rem; 
  }

.text-font{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: large;
}

.border-design{
    @extend .base-class;
    background-color: #F2F2F2;
    margin: 2rem;
    padding: 2rem;
}

.outline{
    @extend .base-class;
    margin: 2rem;
    padding: 2rem;
}

.border-design-form{
    @extend .base-class;
    background-color: #F2F2F2;
    margin: 1rem;
    padding: 1rem;
}

.error-message{
    color: #D8292F;
}
.required-asterisk{
    color: #D8292F;
}

.field-width{
    width: 100%;
}
.field-height {
    height: 40px;
  }

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.flex{
    display: flex; 
}

::-webkit-scrollbar {
    width: 2em;
    height: 2em;
}
::-webkit-scrollbar-button {
    background: #ccc;
}
::-webkit-scrollbar-thumb {
    background: #eee;
}
::-webkit-scrollbar-track-piece {
    background: #888;
}