# flask_sqlalchemy==3.1.1
# flask_migrate==4.0.5
Cerberus==1.3.5
cryptography==43.0.1
pytest==8.3.2
pytz==2024.1
requests==2.32.3
responses==0.25.7
minio==7.2.8
python-keycloak==5.5.0
pika==1.3.2
python-json-logger==3.3.0
Flask==2.3.3
Flask-API==3.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.9
PyMuPDF==1.24.10
pyaes==1.6.1
pbkdf2==1.3
Werkzeug==2.3.7