__pycache__/
.DS_Store
.venv/
.idea/
.vscode/
*.py[cod]
build/
node_modules/
TEST-*xml
venv/

db.sqlite3
.sql.gz

*.sqlite
.nvm/
env/
dist_old/
build
.idea

*,cover
.coverage
coverage.xml
htmlcov/
encryptDecryptPdf
.env
