<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    .details th, .details td {
        border: 1px solid #ddd;
        padding: 8px;
        font-family: Arial, sans-serif;
    }
    .details th {
        background-color: #f2f2f2;
        text-align: left;
        color: #2c3e50;
    }
</style>
{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
    <p>The following IRP files require additional action before they can be considered complete.</p>

    <p>Please complete the Report to Superintendent (MV2724), ensure all required supporting documents 
        are included, have it sworn/affirmed and signed before a Commissioner for Taking Affidavits, 
        and submit/fax the full IRP package to the Superintendent ({{message.superintendent_email}} or {{message.superintendent_fax}}) 
        within seven (7) days of serving the notice to the driver.</p>

    <p><b>Required IRP Package Documents</b></p>
    <ul>
        <li>Notice of Driving Prohibition (MV2723)</li>
        <li>Report to Superintendent (MV2724)</li>
        <li>ASD Certificate(s), if applicable</li>
        <li>Narrative</li>
        <li>Vehicle Impoundment (MV2721/2722), if applicable</li>
    </ul>
{% endblock %}

{% block primary_text_2 %}
    <table class="details">
        <thead>
            <tr>
                <th>IRP Number</th>
                <th>Police File Number</th>
                <th>Driver</th>
                <th>Issue Date</th>
                <th>Days Outstanding</th>
            </tr>
        </thead>
        <tbody>
            {% for item in message.pending_rts %}
                <tr>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                    <td>{{ item[7] }}</td>
                    <td>{{ item[8] }}</td>
                    <td>{{ item[9] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block thank_you_road_safety %}{% endblock %}

{% block email_not_monitored %}{% endblock %}