{% extends "email_alert_base.html" %}

{% block primary_text_1 %}
    Attached is the Copy of MV6020 Traffic Accident Report for the incident <strong>{{ message.collision_case_number }}</strong> you were involved in on {{ message.collision_date }}.
{% endblock %}

{% block primary_text_2 %}
    This copy has been provided to you as an involved party.
    Personal details of other individuals have been removed to protect their privacy.
{% endblock %}


{% block primary_text_3 %}{% endblock %}
{% block primary_text_4 %}{% endblock %}
{% block callout %}Make sure you can open the attachments.{% endblock %}

{% block email_not_monitored %}{% include 'partials/call_appeals_registry.html' %}{% endblock %}
