.form-id-border {
  border: 1px dashed black;
  color: black;
  background-color: #f2f2f2;
  border-radius: 0.2rem;
  text-align: center;
  padding-top: 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
