apscheduler==3.11.2
Flask==2.3.3
Flask-API==3.1
Flask-SQLAlchemy==3.1.1
pika==1.3.2
werkzeug==2.3.7
Flask-Migrate
python-json-logger==4.1.0
psycopg2-binary==2.9.11
cryptography==46.0.7
gunicorn==25.1.0
