#roadsafety-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
  min-height: 120px;
}

.col-right{
  text-align: right;
  margin-top: 20px;
}

.container {
  font-family: 'Avenir',Helvetica,Arial,sans-serif;
  background-color: #003366;
  max-width: 100%;
  min-height: 120px;
}

.brand-logo {
  background-image: url("../../assets/BCID_RoadSafetyBC_logo_transparent.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5rem;
  margin: 1rem auto;
  padding: 0;
  position: absolute;
  top: 0;
  width: 50%;
}
