name: cd-workflow

on:
  workflow_call:
    inputs:
      DOCKER_CONTEXT:
        required: true
        type: string
      DOCKER_FILE:
        required: true
        type: string
      DOCKER_IMAGE_NAME:
        required: true
        type: string
      DOCKER_IMAGE_TAG:
        required: false
        type: string
        default: latest
    secrets:
      DOCKER_REGISTRY:
        required: true
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true
      REACT_APP_KEYCLOAK_URL:
        required: true
      REACT_APP_KEYCLOAK_REALM:
        required: true
      REACT_APP_KEYCLOAK_CLIENT_ID:
        required: true
      REACT_APP_BASE_URL_DEV:
        required: true
      PUBLIC_URL:
        required: true
      REACT_APP_API_BASE_URL:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    # if: ${{ !(
    #     github.event.pull_request.head.ref =~ '^hotfixrelease/' ||
    #     github.event.pull_request.head.ref =~ '^hotfix/' ||
    #     github.event.pull_request.head.ref =~ '^dependabot/'||
    #     github.event.pull_request.head.ref =~ '^feature/'
    #   )}}
    # if: ${{ github.event.pull_request.head.ref =~ '^release/' }}
    if: startsWith(github.event.pull_request.head.ref, 'release/')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # - name: Setup
      #   uses: docker/setup-buildx-action@v3
      #   with:
      #     install: true

      - name: Login
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # - name: Tag
      #   id: tag
      #   uses: mathieudutour/github-tag-action@v6.1
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     tag_prefix: ${{ inputs.DOCKER_IMAGE_NAME }}=v
      #     fetch_all_tags: true

      # - name: Build
      #   working-directory: ${{ inputs.DOCKER_CONTEXT }}
      #   run: |
      #     docker build -t ${{ secrets.DOCKER_REGISTRY }}/dbe7-images/${{ inputs.DOCKER_IMAGE_NAME }}:${{ inputs.DOCKER_IMAGE_TAG }} -f ${{ inputs.DOCKER_FILE }} .
      #     docker push ${{ secrets.DOCKER_REGISTRY }}/dbe7-images/${{ inputs.DOCKER_IMAGE_NAME }}:${{ inputs.DOCKER_IMAGE_TAG }}

      - name: Build
        env:
          REACT_APP_KEYCLOAK_URL: ${{ secrets.REACT_APP_KEYCLOAK_URL }}
          REACT_APP_KEYCLOAK_REALM: ${{ secrets.REACT_APP_KEYCLOAK_REALM }}
          REACT_APP_KEYCLOAK_CLIENT_ID: ${{ secrets.REACT_APP_KEYCLOAK_CLIENT_ID }}
          REACT_APP_BASE_URL: ${{ secrets.REACT_APP_BASE_URL_DEV }}
          REACT_APP_API_BASE_URL: ${{ secrets.REACT_APP_API_BASE_URL }}
          PUBLIC_URL: ${{ secrets.PUBLIC_URL }}
          REACT_APP_GIT_COMMIT_HASH: ${{ github.event.pull_request.head.sha }}
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.DOCKER_CONTEXT }}
          file: ${{ inputs.DOCKER_FILE }}
          push: true
          build-args: |
            VERSION=${{ steps.tag.outputs.new_version }}
            REACT_APP_KEYCLOAK_URL=${{ secrets.REACT_APP_KEYCLOAK_URL }}
            REACT_APP_KEYCLOAK_REALM=${{ secrets.REACT_APP_KEYCLOAK_REALM }}
            REACT_APP_KEYCLOAK_CLIENT_ID=${{ secrets.REACT_APP_KEYCLOAK_CLIENT_ID }}
            REACT_APP_BASE_URL=${{ secrets.REACT_APP_BASE_URL_DEV }}
            REACT_APP_API_BASE_URL=${{ secrets.REACT_APP_API_BASE_URL }}
            REACT_APP_GIT_COMMIT_HASH=${{ github.event.pull_request.head.sha }}
            PUBLIC_URL=${{ secrets.PUBLIC_URL }}
            REACT_APP_GIT_COMMIT_HASH: ${{ github.event.pull_request.head.sha }}
          tags: ${{ secrets.DOCKER_REGISTRY }}/dbe7-images/${{ inputs.DOCKER_IMAGE_NAME }}:${{ inputs.DOCKER_IMAGE_TAG }}
      - name: Install OpenShift CLI tools
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.14"      
      - name: Authenticate and set context for tools namespace
        uses: redhat-actions/oc-login@v1.1.2
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER_URL_SILVER }}
          openshift_token: ${{ secrets.OPENSHIFT_SA_PIPELINE_TOKEN_SILVER }}
          namespace: "${{ secrets.OPENSHIFT_LICENSE_PLATE_SILVER }}-tools"
      - name: Trigger Image import
        env:
          IMAGE_NAME: ${{ inputs.DOCKER_IMAGE_NAME }}
        run: |
          oc import-image $IMAGE_NAME:latest --confirm

          

