name: form_handler-cd

on:
  # push:
  #   branches:
  #     - master
  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches:
      - master
      - main
    paths:
      - python/*.py
      - python/common/**
      - python/form_handler/**
      - .github/workflows/form_handler-cd.yml
      - trigger.txt

jobs:
  CD:
    permissions:
      contents: read
    uses: ./.github/workflows/cd-workflow.yml
    with:
      DOCKER_CONTEXT: python
      DOCKER_FILE: python/form_handler/Dockerfile
      DOCKER_IMAGE_NAME: rsbc-roadside-forms-form-handler
    secrets: inherit
