name: prohibition_web_svc-ci

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches-ignore:
      - master
    paths:
      - backend/*.py
      - backend/common/**
      - backend/prohibition_web_svc/**
      - .github/workflows/prohibition_web_svc-ci.yml
      - trigger.txt

jobs:
  CI:
    uses: ./.github/workflows/ci-workflow.yml
    with:
      DOCKER_CONTEXT: backend
      DOCKER_FILE: backend/prohibition_web_svc/Dockerfile
      OPENSHIFT_SERVER_URL_SILVER: "${{ secrets.OPENSHIFT_SERVER_URL_SILVER }}"
      OPENSHIFT_SA_PIPELINE_TOKEN_SILVER: ${{ secrets.OPENSHIFT_SA_PIPELINE_TOKEN_SILVER }}
      OPENSHIFT_LICENSE_PLATE_SILVER: "${{ secrets.OPENSHIFT_LICENSE_PLATE_SILVER }}"
