name: roadside_forms_backend-ci

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches-ignore:
      - master
      - main
    paths:
      - python/*.py
      - python/common/**
      - python/prohibition_web_svc/**
      - .github/workflows/roadside_forms_backend-ci.yml
      - trigger.txt

jobs:
  CI:
    permissions:
      contents: read
      issues: write
    uses: ./.github/workflows/ci-workflow.yml
    with:
      DOCKER_CONTEXT: python
      DOCKER_FILE: python/prohibition_web_svc/Dockerfile
      DOCKER_IMAGE_NAME: rsbc-roadside-forms-backend-api
      # OPENSHIFT_SERVER_URL_SILVER: "${{ secrets.OPENSHIFT_SERVER_URL_SILVER }}"
      # OPENSHIFT_SA_PIPELINE_TOKEN_SILVER: ${{ secrets.OPENSHIFT_SA_PIPELINE_TOKEN_SILVER }}
      # OPENSHIFT_LICENSE_PLATE_SILVER: "${{ secrets.OPENSHIFT_LICENSE_PLATE_SILVER }}"
    secrets: inherit
