name: roadside_forms_backend-cd

on:
  # push:
  #   branches:
  #     - master
  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches:
      - master
      - main
    paths:
      - python/*.py
      - python/common/**
      - python/prohibition_web_svc/**
      - .github/workflows/roadside_forms_backend-cd.yml
      - trigger.txt

jobs:
  CD:
    permissions:
      contents: read
    uses: ./.github/workflows/cd-workflow.yml
    with:
      DOCKER_CONTEXT: python
      DOCKER_FILE: python/prohibition_web_svc/Dockerfile
      DOCKER_IMAGE_NAME: rsbc-roadside-forms-backend-api
    secrets: inherit
