name: sonar-scan-prohibition-svc
on:
  workflow_dispatch:
  push:
    branches:
      - feature/backendsonar
  pull_request:
    types: [opened, reopened, edited, synchronize]
    branches-ignore:
      - master
      - main
    paths:
      - python/*.py
      - python/common/**
      - python/prohibition_web_svc/**
      - .github/workflows/roadside_forms_backend-ci.yml
      - trigger.txt
permissions:
  contents: read
jobs: 

  sonarcloud-prohibition-svc:
    name: SonarCloud-prohibition-svc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install dependencies and run tests
        run: |
          cd python/prohibition_web_svc
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov pytest-mock
          pytest tests/ --doctest-modules --junitxml=test-results/test-results.xml --cov --cov-report=html:coverage_results --cov-report=xml:coverage.xml
          cd ../common
          pytest tests/ --doctest-modules --junitxml=test-results/test-results.xml --cov --cov-report=html:coverage_results --cov-report=xml:coverage.xml
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        if: always()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: python/prohibition_web_svc
